<div class="about_profile" ng-controller="aboutCtrl">
<div>
<div class="about_aboutus">关于我们</div>
<hr class="about_hr">
<strong><font class="about_font">
喵喵熊（隶属于北京泰和明技术有限公司）是一款将聊天和购物完美结合的App，精选用户身边的优质商家，用户可以足不出户掌握感兴趣商家的最新商品和活动资讯，可以方便实时地与商家进行交流。我们是一支年轻的互联网团队，致力于为用户提供最好的网上逛街体验。
</font></strong>
</div>
<div style="margin-top:50px;" >
	<div>
		<div class="row">
		<div class="col-sm-3  about_names">公司地址：</div>
		<div class="col-sm-9  about_xpadding">合肥蜀山区黄山路肥西路交口兴科大厦1601室</div>
		</div>
		<div class="row">
		<div class="col-sm-3  about_names">联系电话：</div>
		<div class="col-sm-9  about_xpadding">15155195957</div>
		</div>
		<div class="row">
		<div class="col-sm-3  about_names">公司邮箱：</div>
		<div class="col-sm-9  about_xpadding">mmx@thm-tech.com</div>
		</div>
		<div class="row">
		<div class="col-sm-3  about_names">官方微博：</div>
		<div class="col-sm-9  about_xpadding"><a href="http://www.weibo.com/miaobear" target="_blank">@泰和明-喵喵熊</a></div>
		</div>
		<div class="row">
		<div class="col-sm-3  about_names">微信公众号：</div>
		<div class="col-sm-9  about_xpadding">miaomiaoxiong007</div>
		</div>
	</div>
	<div class="about_qrcode">
		<img src="images/qrcode_for_weixingongzhonghao.jpg" width='300px' height='300px'></img>
	</div>
</div>
</div>

