<!-- PC端适配 -->
<div class="fd-header hidden-xs">
    <div class="mm-header">
        <a href="#/index" id="g-fd-logo">
            <p id="g-ch-logo">
                <span>喵喵熊</span>
                <span>妙生活</span>
            </p>
        </a>
        <ul class="home-head-nav">
            <li><a href="#/">首页</a></li>
            <li><a href="#/index/download">APP下载</a></li>
            <li><a href="#/index/about">关于我们</a></li>
            <li><a href="#/index/mtregister">商家入驻</a></li>
        </ul>
        <a class="r-header" id="login" href="#/customer/login">登录</a>
    </div>
</div>
<!-- 手机端适配 -->
<!--
<div class="hidden-sm hidden-md hidden-lg" style="text-align:center">
    <a href="#/index" id="g-fd-logo">
            <p id="g-ch-logo">
                <span>喵喵熊</span>
                <span>妙生活</span>
            </p>
    </a>
</div>
-->
<div class="contain">
    <div ui-view="main"></div>
</div>
<!-- PC端适配 -->
<div class="fd-footer hidden-xs" style="clear:both">
    <div id="copyright">
        <span>©2015-2016 immbear.com 版权所有 京IPC备14007339号-2</span>
    </div>
</div>
<!-- 手机端适配 -->
<div class="fd-footer hidden-sm hidden-md hidden-lg" style="clear:both;text-align:center">
    <p>©2015-2016 immbear.com 版权所有</p>
    <p>京IPC备14007339号-2</p>
</div>
