<div class="regfail_box">
    <div class="modal-header mag-modal-header regfail_head">
        <div class="modal-title">反馈</div>
        <a href="javascript:void(0)" class="close" ng-click="_cancel()"><i class="fa fa-times"></i></a>
    </div>
    <div class="modal-body" class="regfail_body">
        {{feedres}}
    </div>
    <div class="regfail_padding"></div>
    <div class="modal-footer regfail_confirm">
        <!--<button type="button" class="cancel-btn" ng-click="_cancel()">取消</button>-->
        <button class="submit-btn" ng-click="_confirm()">确定</button>
    </div>
</div>
