<div style="background-color: #ffffff;min-height:670px">
    <div class="container-fluid" ng-controller="historyActivity">
        <div class="row m_head_row">
            <h4 class="m_server_head">优惠活动</h4>
            <button class="pull-right nav-btn" ng-click="show.should_i_show = 3">发布活动</button>
        </div>
        <hr class="m_hr"/>
        <div ng-show="show.should_i_show == 1" class="">
            <table class="table table-hover fd-table">
                <thead class="m_table_head">
                <tr>
                    <th style="width: 10%;">编号</th>
                    <th style="width: 40%;">活动主题</th>
                    <th style="width: 35%;">活动时间</th>
                    <th style="width: 15%;">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr style="height: 45px" ng-repeat="activity in activities">
                    <td>{{ activity.index }}</td>
                    <td>{{ activity.act_title }}</td>
                    <td ng-if="getdate(activity.end_time) < now">已过期</td>
                    <td ng-if="getdate(activity.end_time) >= now">{{ activity.begin_time.slice(0,10) }} - {{ activity.end_time.slice(0,10) }}</td>
                    <td>
                        <a href="javascript:void(0)" class="m_table_a" ng-click="drop_down(activity)" title="活动详情">
                            <span class="color-63ca89 glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                        </a>
                        <a href="javascript:void(0)" ng-click="delect(activity.act_id)" class="m_table_a" title="删除活动">
                            <span class="color-63ca89 glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row" style="clear:both;position: absolute;width: 720px;top: 650px;">
                <div class="col-sm-offset-3">
                    <ul class="pagination-tb center-block inline-block">
                        <li>
                            <a href="javascript:void(0)" aria-label="Previous" ng-click="init(1)">
                                <span aria-hidden="true">首页</span>
                            </a>
                        </li>
                        <li ng-class="{disabled: page.current_page-1 == 0}">
                            <a href="javascript:void(0)" aria-label="Previous" ng-click="init(page.current_page-1)">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li ng-repeat="index in page.plist" ng-class="{active:is_current(index)}">
                            <a href="javascript:void(0)" ng-click="init(index)">{{ index }}</a></li>
                        <li ng-class="{disabled: page.current_page == page.page_num}">
                            <a href="javascript:void(0)" aria-label="Next" ng-click="init(page.current_page+1)">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-label="Previous" ng-click="init(page.page_num)">
                                <span aria-hidden="true">尾页</span>
                            </a>
                        </li>
                    </ul>

                    <div class="inline-block" style="color: #c9c9c9">
                        共<span style="color: #55D484">{{ page.page_num }}</span>页
                        &nbsp;&nbsp;&nbsp;&nbsp;第
                        <input type="text" class="inline-block"
                               style="display: inline; width:33px; height:33px; color: #c9c9c9;"
                               ng-model="in_index"/>
                        页
                        <button type="button" ng-click="init(in_index)" class="m_button">确定</button>
                    </div>
                </div>
            </div>
        </div>

        <div ng-controller="activityInfo" ng-show="show.should_i_show == 2" class="m_table m_fuck_div" style="margin-bottom: 20px;">
            <table class="table table-striped table-hover fd-table m_no_border">
                <thead class="m_table_head">
                <tr>
                    <th style="width: 10%;">编号</th>
                    <th style="width: 40%;">活动主题</th>
                    <th style="width: 35%;">活动时间</th>
                    <th style="width: 15%;">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ activity.index }}</td>
                    <td>{{ activity.act_title }}</td>
                    <td>{{ activity.begin_time.slice(0,10) }} - {{ activity.end_time.slice(0,10) }}</td>
                    <td>
                        <a href="javascript:void(0)" class="m_table_a" style="color: #ff3300;" ng-click="drop_up()"
                           title="返回">
                            <span class="glyphicon glyphicon-menu-up color-f96b3a" aria-hidden="true"></span>
                        </a>
                        <a href="javascript:void(0)" ng-click="delect(activity.act_id)" class="m_table_a" title="删除活动">
                            <span class="color-63ca89 glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="m_info" style="color: #666666;overflow: auto;">
                <h2 class="text-center">{{ activity.act_title }}</h2>
                <br/>
                <br/>

                <div ng-bind-html="activity_html"></div>
                <br/>
                <br/>

                <p>活动时间: {{ activity.begin_time.slice(0,10) }} 至 {{ activity.end_time.slice(0,10) }}</p>
            </div>
        </div>


        <div class="active_contain" ng-controller="postActivity" ng-show="show.should_i_show == 3">
            <form class="form-horizontal m_form" ng-submit="send(form.$valid)" name="form" novalidate>
                <div class="form-group">
                    <label for="id_active_title" class="col-sm-2 control-label color-666666">活动标题</label>

                    <div class="col-sm-10">
                        <input type="TEXT" class="form-control" id="id_active_title" ng-model="act_title"
                               placeholder="Title..."
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_active_content" class="col-sm-2 control-label color-666666">活动内容</label>

                    <div class="col-sm-10">
                        <!--<textarea rows=6 class="form-control" id="id_active_content" ng-model="act_content" -->
                        <!--placeholder="Content..." required></textarea>-->
                <textarea ckeditor="editorOptions" name="editor" ng-model="act_content" id="id_active_content"
                          required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label color-666666">活动时间</label>

                    <div class="col-sm-10">
                        <div class="col-sm-5" style="padding-left:0;padding-right:0;width: 46%">
                            <p class="input-group">
                                <input type="TEXT" class="form-control form-control-auto_height" datepicker-popup
                                       style="height: 34px"
                                       current-text="今天"
                                       clear-text="清空"
                                       close-text="关闭"
                                       ng-model="begin_date"
                                       is-open="begin_opened"
                                       min-date="minDate" datepicker-options="dateOptions"
                                       ng-required="true" close-text="Close" required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="begin_open($event)"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                            </p>
                        </div>
                        <div style="display: inline">
                            &nbsp;&nbsp;&nbsp;至
                        </div>
                        <div class="col-sm-5 pull-right" style="padding-left:0;padding-right:0;width: 46%">
                            <p class="input-group">
                                <input type="TEXT" class="form-control form-control-auto_height" datepicker-popup
                                       style="height: 34px"
                                       current-text="今天"
                                       clear-text="清空"
                                       close-text="关闭"
                                       ng-model="end_date"
                                       is-open="end_opened"
                                       min-date="begin_date" datepicker-options="dateOptions"
                                       ng-required="true" close-text="Close" required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="end_open($event)"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <button type="submit" class="pull-right nav-btn m_button_send"
                                style="background-color: #55D484; border: 1px solid #55D484;"
                                ng-disabled="form.$invalid">发布
                        </button>
                        <button type="button" class="pull-right cancel-btn"
                                ng-click="return_to_list()" style="position:relative; top: 10px">取消
                            </button>
                            <span class="pull-right text-danger" style="position: relative; top: 13px; margin-right: 20px;">{{ returnInfo }}</span>
                    </div>
                </div>
            </form>


        </div>
        <!-- 活动发布 end -->
    </div>
</div>


<style>
    .m_confirm_button {
        color: #FFFFFF;
        background-color: #56d585;
        border-radius: 5px;
        width: 100px;
        height: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .m_cancel_button {
        border: none;
        color: #FFFFFF;
        background-color: #bfbfbf;
        border-radius: 5px;
        width: 100px;
        height: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .form-control-auto_height {
        border-radius: 0px;
        color: #333;
        height: 34px;
    }
</style>

<style>
    .m_hr {
        margin: 4px 0 8px 0;
    }

    .actdiv {
        background-color: #EFEFEF;
        margin: 10px 5px 10px 5px;
        padding: 5px;
        border-radius: 5px;
    }

    .actl {
        border-radius: 3px;
        padding: 8px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .actdiv p {
        margin: 20px auto 20px auto;
    }

    .active_contain td {
        border-top: 0px !important;
    }

    .m_info {
        padding: 10px 20px;
    }

    .m_server_head {
        color: #666666;
        font-size: 16px;
        top: 5px;
        position: relative;
        display: inline;
    }

    .m_head_row {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 8px;
    }

    .nav-btn {
        width: 100px;
        height: 30px;
        color: #FFF;
        background-color: #F96B3A;
        font-size: 16px;
        text-align: center;
        border: 1px solid #F96B3A;
        border-radius: 5px;
    }

    .color-63ca89 {
        color: #63ca89;
    }

    .m_table_anti {
        border: 1px solid rgba(0, 0, 0, 0);
        width: 720px;
    }
</style>


<style>
    .m_fuck_div {
        position: relative;
        top: 12px;
    }

    .m_table {
        border: 1px solid #63ca89;
        width: 720px;
    }

    .m_table_head {
        background-color: #63ca89;
        color: #ffffff;
        height: 30px;
    }

    .m_table_a {
        margin-left: 5px;
        margin-right: 5px;
    }

    .m_button {
        width: 60px;
        height: 30px;
        color: #FFFFFF;
        background-color: #63ca89;
        font-size: 16px;
        text-align: center;
        border: 1px solid #63ca89;
        border-radius: 1px;
    }

    .m_no_border {
        border: none;
    }
</style>

<!--  活动发布 -->
<style>
    .form-control {
        border-radius: 0;
        height: 30px;
        color: #333333;
    }

    .color-999999 {
        color: #999999;
    }

    .color-666666 {
        color: #666666;
    }

    .form-control:focus {
        border-color: #43bb6f;
    }

    .control-label {
        font-size: 16px;
        font-weight: normal;
    }

    .mright {
        float: right;
    }

    .boxselect {
        display: inline;
        float: left;
        border-radius: 0px;
        width: 33.3%
    }

    #id_active_content {
        height: 300%
    }

    .full button span {
        background-color: limegreen;
        border-radius: 32px;
        color: black;
    }

    .partially button span {
        background-color: orange;
        border-radius: 32px;
        color: black;
    }

    .input-group-btn button {
        height: 34px;
    }

    .m_form {
        position: relative;
        left: -25px;
    }

    .fd-table tr td a {
        display: inline-block;
        text-align: center;
        width: 20px;
    }
</style>
